@import "./util.scss";

$navbar-width: 262px;
$navbar_bg_color: #ff8438;
$navbar_txt_color: white;
$navbar_bg_shadow_color: #960000;

$main_bg_color: #151515;
$main_page_bg_color: #232323;
$main_page_el_color: #282828;

$modal_bg_color: $main_page_bg_color;

body { background-color: $main_bg_color;}
.theme {
  color: white;
  > aside {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 5px 0px 5px $navbar_bg_shadow_color;
    
    footer {

    }
  }
  > main {
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-color: $main_bg_color;

    .page-theme {
      height: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      background: $main_page_bg_color;

      .path {
        .faicon {
          color: $navbar_bg_color;
        }
      }
      > main {
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: $main_page_el_color;
        border: 1px solid #303030;
        border-radius: 2px;
      }
      > div {
        @extend main;
      }
    }
  }
}

@media (max-width: 768px) {
  .theme {

    > aside {
      width: 100vw;
      height: 10vh;
      border-radius: 10px;

      // footer {
      // }
    }
    > main {
      position: fixed;
      top: 10vh;
      width: 100vw;
      height: 100vh !important;
      margin-left: 0 !important;
      overflow-y: auto;

      .page-theme {
        
        > div {
          
        }
      }
    }


  }
}

footer {
  width: $navbar-width;
  overflow-x: auto;
  position: fixed;
  bottom: 0;
}

.btn-theme {
  background-color: black;
  border-color: #303030;
  color: $navbar_bg_color;
  font-weight: bold;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
}
.btn-theme:hover {
  background-color: #2d2d2d;
  color: white;
}
.btn-theme:active {
}

.modal-theme {
  color: white;
  background-color: $modal_bg_color !important;

  h1 {
    text-align: center;
    border: 1px solid #303030;
    border-bottom-color: $navbar_bg_color;
  }
  main {
    h2 {
      
    }
    .login_content {

    }
  }
  a {
    color: $navbar_bg_color;
  }
  a:hover {
    color: white;
  }
}