$c_main: #ff8438;
$c_second: #ffb245;
$c_green: #29b37f;
$c_blue: #2978ad;
$c_red: #ff5029;

$navbar-width: 262px;
$navbar_bg_color: $c_main;
$navbar_txt_color: white;
$navbar_bg_shadow_color: $c_red;

$main_bg_color: #151515;
$main_page_bg_color: #232323;
$main_page_el_color: #282828;

$modal_bg_color: $main_page_bg_color;

$border_color: #303030;